
<div class="h-8 w-full text-white bg-indigo-600 hover:bg-indigo-700">
  <p class="text-center text-1xl">Test SPINAR+</p>
</div>
<div class="main-container mt-3 mb-3">
  <div class="grid grid-rows-2 sm:grid-rows-3 md:grid-rows-2">
    <div class="grid grid-cols-3 gap-5 max-h-[400px] w-full">
      <div class="col-span-3 sm:col-span-3 md:col-span-1">
        <app-form></app-form>
      </div>
      <div class="col-span-3 sm:col-span-3 md:col-span-2">
        <app-camera></app-camera>
      </div>
      <div class="col-span-3">
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>