<div class="">
    <form #productsForm="ngForm" (ngSubmit)="onSubmit(productsForm)">
        <div class="shadow-2xl overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
                <div class="col-span-6 sm:col-span-12">
                    <label for="first-name" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input 
                    [ngClass]="{'required:border-red-500': validating && name.invalid || name.invalid && (name.dirty || name.touched)}" 
                    required
                    type="text" 
                    id="name" 
                    name="name" 
                    #name="ngModel"
                    [(ngModel)]="product.name"
                    autocomplete="given-name" 
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    <p *ngIf="validating && name.invalid || name.invalid && (name.dirty || name.touched)" class="text-red-500 text-xs italic">El campo es obligatorio</p>
                </div>

                <div class="col-span-3 sm:col-span-12">
                    <label for="email" class="block text-sm font-medium text-gray-700">Precio</label>
                    <input 
                    [ngClass]="{'required:border-red-500': validating && price.invalid || price.invalid && (price.dirty || price.touched)}" 
                    required
                    type="number" 
                    id="price" 
                    name="price" 
                    #price="ngModel"
                    [(ngModel)]="product.price"
                    autocomplete="family-name" 
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    <p *ngIf="validating && price.invalid || price.invalid && (price.dirty || price.touched)" class="text-red-500 text-xs italic">El campo es obligatorio</p>
                </div>

                <div class="col-span-3 sm:col-span-4">
                    <label for="job" class="block text-sm font-medium text-gray-700">Cantidad</label>
                    <input 
                    [ngClass]="{'required:border-red-500': validating && amount.invalid || amount.invalid && (amount.dirty || amount.touched)}" 
                    required
                    type="number" 
                    id="amount" 
                    name="amount" 
                    #amount="ngModel"
                    [(ngModel)]="product.amount"
                    autocomplete="email" 
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    <p *ngIf="validating && amount.invalid || amount.invalid && (amount.dirty || amount.touched)" class="text-red-500 text-xs italic">El campo es obligatorio</p>
                </div>
                <div class="col-span-3 sm:col-span-4">
                    <label for="job" class="block text-sm font-medium text-gray-700">Descripción</label>
                    <input 
                    [ngClass]="{'required:border-red-500': validating && description.invalid || description.invalid && (description.dirty || description.touched)}" 
                    required
                    type="text" 
                    id="description" 
                    name="description" 
                    #description="ngModel"
                    [(ngModel)]="product.description"
                    autocomplete="email" 
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    <p *ngIf="validating && description.invalid || description.invalid && (description.dirty || description.touched)" class="text-red-500 text-xs italic">El campo es obligatorio</p>
                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right">
                <button type="submit" [ngClass]="['w-full py-2 px-4 text-sm font-medium rounded-md text-white', textBtn === 'Agregar' ? 'bg-indigo-600 hover:bg-indigo-700' : 'bg-green-600']">{{ textBtn }}</button>
            </div>
        </div>
    </form>
</div>
